*~
*.swp
.DS_Store
old
/.bundle
/.powenv
/.rbenv-version
/.ruby-version
/.sass-cache
/config/application.yml
/config/database.yml
/config/initializers/secret_token.rb
/config/secrets.yml
/config/sidekiq.yml
/db/*.sqlite3
/db/*.sqlite3-journal
/log/*.log
/public/assets
/public/development
/public/uploads
/tmp/**/*
/vendor/bundle
