.container.container1
  .row
    .registration-complete.col-sm-8.col-sm-offset-2
      %h1.heading Bienvenue sur #{app_name} !
      %p Votre compte a bien été créé. Il ne vous reste plus qu'à l’activer afin de pouvoir vous identifier.
      %p Nous venons de vous envoyer un e-mail d’activation à l’adresse <strong class="email"><tt>#{@admin.email}</tt></strong>.
      %p Si vous n’avez pas reçu un tel email dans quelques instants, vérifiez à tout hasard votre dossier de courriers indésirables (spams).

