// @import "configuration";

#main.user-devise-box {
  max-width: 980px;
  min-height: 200px;
  margin: 20px auto 50px;
  padding: 20px 0;
  //border: 1px solid #ddd;
  //border-radius: 4px;
  //background-color: white;
  .logo-devise {
    min-height: 100px;
    text-align: center;
    padding-bottom: 20px;
  }
  .nav-devise {
    li {
      background-color: #f5f5f5;
    }
  }
  .heading {
    margin-bottom: 20px;
    text-align: center;
  }
  .form-regular {
    margin-bottom: 0;
  }
}

